{% extends 'layout.html' %}

{% block content %}
    <!-- <h2>Welcome Home!</h2>
    <p>User: {{ current_user.name }}</p>
    <p>Rating: {{ current_user.rating }}</p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p> -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2 class="mb-4">Welcome Ratings!</h2>
                <p class="lead">User: {{ current_user.name }}</p>
                <p class="lead">Rating: {{ current_user.rating }}</p>
                <p>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
